<tomcat-users>
<!--
    Comments
-->
   <role rolename="admin-gui"/>
   <role rolename="manager-gui"/>
   <user username="admin" password="admind" roles="admin-gui,manager-gui,manager-script"/>
</tomcat-users>